POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
PORT=
MODE=
ENABLE_LOGS=
JWT_SECRET=
EMAIL_USER=
EMAIL_PASSWORD=
CLIENT_URL=
EMAIL_FROM=
SPACES_KEY=
SPACES_SECRET=/sWPozvFVlKvCF6wwQ1BukOAZyZscGF5E
S3_ENDPOINT=
S3_REGION=